<div class="single_blog_item">
    <div class="single_blog_img">
        <img src="{{articleInput.img}}" alt="">
    </div>
    <div class="single_blog_text">
        <div class="date">
            <a href="#" class="date_item">{{articleInput.date}} </a>
            <a href="#" class="date_item"> <span>#</span>{{articleInput.category}} </a>
        </div>
        <h3><a href="blog.html">{{articleInput.content}}</a></h3>
        <a href="#" class="btn_3">Read More <img src="assets/img/icon/left_1.svg" alt=""></a>
    </div>
</div>