<!--login-->
<section class=" section_padding">
    <div class="container">
        <div class="row">
            <div class="col-xl-5">
                <div class="section_tittle">

                    <h2>Signup</h2>
                </div>
            </div>
        </div>
        <div class="row">
            <div class="col-lg-6">
                <div class="regervation_part_iner">
                    <form class="form-contact contact_form" [formGroup]='signupForm'>
                        <div class="form-row">
                            <div class="form-group col-md-12">
                                <input type="text" class="form-control" formControlName="firstName"
                                    placeholder="enter your First Name">
                            </div>
                            <!-- *ngif:directive structurelle -->
                            <div *ngIf="signupForm.controls['firstName'].invalid && 
                            (signupForm.controls['firstName'].touched || signupForm.controls['firstName'].dirty)">

                                <div *ngIf="signupForm.controls['firstName'].errors?.required" style="color: red;">
                                    First Name is required
                                </div>

                                <div *ngIf="signupForm.controls['firstName'].errors?.minlength" style="color: red;">
                                    First Name must have at least 5 caracters
                                </div>

                            </div>
                            <div class="form-group col-md-12">
                                <input type="text" class="form-control" formControlName="lastName"
                                    placeholder="enter your Last Name">
                            </div>
                            <!-- *ngif:directive structurelle -->
                            <div *ngIf="signupForm.controls['lastName'].invalid && 
                             (signupForm.controls['lastName'].touched || signupForm.controls['lastName'].dirty)">

                                <div *ngIf="signupForm.controls['lastName'].errors?.required" style="color: red;">
                                    First Name is required
                                </div>

                                <div *ngIf="signupForm.controls['lastName'].errors?.minlength" style="color: red;">
                                    Last Name must have at least 3 caracters
                                </div>

                            </div>
                            <div class="form-group col-md-12">
                                <input type="email" class="form-control" formControlName="email" id="inputEmail"
                                    placeholder=" enter your Email">
                            </div>
                            <!-- *ngif:directive structurelle -->
                            <div *ngIf="signupForm.controls['email'].invalid && 
                             (signupForm.controls['email'].touched || signupForm.controls['email'].dirty)">

                                <div *ngIf="signupForm.controls['email'].errors?.required" style="color: red;">
                                    email is required
                                </div>

                                <div *ngIf="signupForm.controls['email'].errors?.email" style="color: red;">
                                    invalid format Email
                                </div>

                            </div>
                            <div class="form-group col-md-12">
                                <input type="text" class="form-control" formControlName="tel" id="inputTel"
                                    placeholder=" enter your telphone">
                            </div>
                            <!-- *ngif:directive structurelle -->
                            <div *ngIf="signupForm.controls['tel'].invalid && 
                            (signupForm.controls['tel'].touched || signupForm.controls['tel'].dirty)">

                                <div *ngIf="signupForm.controls['tel'].errors?.required" style="color: red;">
                                    tel is required
                                </div>

                                <div *ngIf="signupForm.controls['tel'].errors?.minlength" style="color: red;">
                                    tel must have 8 caracters
                                </div>
                                <div *ngIf="signupForm.controls['tel'].errors?.maxlength" style="color: red;">
                                    tel must have 8 caracters
                                </div>

                            </div>
                            <div class="form-group col-md-12">
                                <input type="password" class="form-control" formControlName="pwd" id="inputPassword4"
                                    placeholder="enter your Password">
                            </div>

                            <!-- *ngif:directive structurelle -->
                            <div *ngIf="signupForm.controls['pwd'].invalid && 
                            (signupForm.controls['pwd'].touched || signupForm.controls['pwd'].dirty)">

                                <div *ngIf="signupForm.controls['pwd'].errors?.required" style="color: red;">
                                    pwd is required
                                </div>

                                <div *ngIf="signupForm.controls['pwd'].errors?.minlength" style="color: red;">
                                    pwd must have 6 caracters
                                </div>
                                <div *ngIf="signupForm.controls['pwd'].errors?.maxlength" style="color: red;">
                                    pwd must be at most 12 characters </div>

                            </div>

                            <div class="form-group col-md-12">
                                <input type="password" class="form-control" formControlName="confirmPwd"
                                    id="inputPassword4" placeholder="Confirm-Password">
                            </div>
                            <div *ngIf='signupForm.controls["confirmPwd"].invalid &&
                            (signupForm.controls["confirmPwd"].dirty || 
                            signupForm.controls["confirmPwd"].touched)'>
                                <div *ngIf='signupForm.controls["confirmPwd"].errors?.mustMatch' style="color: red;">
                                    Confirm Pwd must match PWD
                                </div>
                            </div>

                        </div>


                        <!-- <div class="regerv_btn"> -->
                        <div>
                            <button type="submit" class="btn_4" (click)='signup()'>Signup</button>
                        </div>
                    </form>
                </div>
            </div>
        </div>
    </div>
</section>