<table class="table custom-table">
    <thead>
      <tr>
        <th>Index</th>
        <th>ID</th>
        <th>Name</th>
        <th>Price</th>
        <th>Description</th>
        <th>Image</th>
        <th>Actions</th>
      </tr>
    </thead>
    <tbody>
        <tr *ngFor='let plat of plats ; let i=index'>
          <td>{{i}}</td>
          <td>{{plat._id}}</td>
          <td>{{plat.name}}</td>
          <td>{{plat.price}}</td>
          <td>{{plat.description}}</td>
          <td><img src="{{plat.img}}" alt="" width="100px" height="100px"></td>
          <button class="btn btn-success" (click)='goToDisplay(plat._id)'>Display</button>
          <button class="btn btn-info" (click)='goToEditPlat(plat._id)'>Edit</button>
          <button class="btn btn-danger"(click)='deletePlat(plat._id)'>Delete</button>
        </tr>
    </tbody>

  </table>
